node-red/flows.json
[{"id":"4d8c7fbc.014178","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"a631f611.490bd","type":"http in","z":"4d8c7fbc.014178","name":"input","url":"/hello-world","method":"post","upload":false,"swaggerDoc":"","x":50,"y":100,"wires":[["3ed3518f.fde3fe","7e4268e4.fb6cf"]]},{"id":"fbe7077b.543ef8","type":"debug","z":"4d8c7fbc.014178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":160,"wires":[]},{"id":"9d780325.a0d89","type":"http response","z":"4d8c7fbc.014178","name":"output","statusCode":"200","headers":{"Content-Type":"application/json"},"x":410,"y":100,"wires":[]},{"id":"3ed3518f.fde3fe","type":"template","z":"4d8c7fbc.014178","name":"Payload","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"message\": \"Hello World!\"}","output":"json","x":220,"y":100,"wires":[["9d780325.a0d89"]]},{"id":"7e4268e4.fb6cf","type":"json","z":"4d8c7fbc.014178","name":"","property":"payload","action":"","pretty":false,"x":210,"y":160,"wires":[["fbe7077b.543ef8"]]}]